[Desktop Entry]
Name=Oener Tanyeri Metinden Sese Çevirme
Comment=Metinden Sese Dönüştürücü
Exec=ses-olustur
Icon=utilities-terminal
Terminal=false
Type=Application\Categories=AudioVideo;Utility;
